Repository statisticsnorway/datadoc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-json, check-toml, check-ast, ruff, black

.pre-commit-config.yaml:

default_language_version:
  python: python3.11
repos:
  - repo: local
    hooks:
      # General file checkers
      - id: check-added-large-files
        name: Check added large files
        entry: check-added-large-files
        language: system
      - id: check-merge-conflict
        name: Check for merge conflict strings
        entry: check-merge-conflict
        language: system
      - id: check-case-conflict
        name: Check for problematic file names
        entry: check-case-conflict
        language: system

      # General text checkers
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: mixed-line-ending
        name: Mixed Line Ending
        entry: mixed-line-ending
        language: system
        types: [text]
        stages: [commit, push, manual]

      # Serialization format checkers
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: check-json
        name: Check JSON
        entry: check-json
        language: system
        types: [json]
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]

      # Python tools
      - id: check-ast
        name: Check Python syntax
        entry: check-ast
        language: system
        types: [python]
      - id: darglint
        name: darglint
        entry: darglint
        language: system
        types: [python]
        stages: [manual]
      - id: ruff
        name: ruff
        entry: ruff --fix --exit-non-zero-on-fix
        language: system
        types_or: [python, jupyter]
        require_serial: true
      - id: black
        name: black
        entry: black
        language: system
        types_or: [python, jupyter]
        require_serial: true

Use ssb-datadoc-model v4.1.2 (#120)
  datadoc/app.py
  datadoc/backend/datadoc_metadata.py
  datadoc/backend/dataset_parser.py
  datadoc/backend/model_backwards_compatibility.py
  datadoc/enums.py
  datadoc/frontend/callbacks/dataset.py
  datadoc/frontend/callbacks/register_callbacks.py
  datadoc/frontend/callbacks/utils.py
  datadoc/frontend/callbacks/variables.py
  datadoc/frontend/components/control_bars.py
  datadoc/frontend/fields/display_base.py
  datadoc/frontend/fields/display_dataset.py
  datadoc/frontend/fields/display_variables.py
  datadoc/state.py
  datadoc/tests/conftest.py
  datadoc/tests/resources/existing_metadata_file/compatibility/v1_0_0/person_data_v1__DOC.json
  datadoc/tests/resources/existing_metadata_file/invalid_id_field/person_data_v1__DOC.json
  datadoc/tests/resources/existing_metadata_file/valid_id_field/person_data_v1__DOC.json
  datadoc/tests/resources/klargjorte_data/befolkning/person_testdata_p2021-12-31_p2021-12-31_v1.parquet
  datadoc/tests/resources/klargjorte_data/befolkning/person_testdata_p2021-12-31_p2021-12-31_v1__DOC.json
  datadoc/tests/test_callbacks.py
  datadoc/tests/test_datadoc_metadata.py
  datadoc/tests/test_dataset_parser.py
  datadoc/tests/test_model.py
  datadoc/tests/test_model_backwards_compatibility.py
  datadoc/tests/test_utils.py
  datadoc/utils.py
  klargjorte_data/befolkning/person_testdata_p2021-12-31_p2021-12-31_v1__DOC.json
  klargjorte_data/person_data_v1.parquet
  poetry.lock
  pyproject.toml
Due: check-json, check-toml, check-ast, ruff, black

Satisfy mypy
  .pre-commit-config.yaml
  .vscode/settings.json
  noxfile.py
  poetry.lock
  pyproject.toml
  src/datadoc/backend/datadoc_metadata.py
  src/datadoc/backend/dataset_parser.py
  src/datadoc/backend/model_backwards_compatibility.py
  src/datadoc/backend/storage_adapter.py
  src/datadoc/enums.py
  src/datadoc/frontend/callbacks/dataset.py
  src/datadoc/frontend/callbacks/register_callbacks.py
  src/datadoc/frontend/callbacks/utils.py
  src/datadoc/frontend/callbacks/variables.py
  src/datadoc/frontend/fields/display_base.py
  src/datadoc/frontend/fields/display_dataset.py
  src/datadoc/state.py
  src/datadoc/utils.py
  tests/conftest.py
  tests/test_callbacks.py
  tests/test_datadoc_metadata.py
  tests/test_dataset_parser.py
  tests/test_storage_adapter.py
Due: check-yaml, check-json, check-toml, check-ast, ruff, black

Fix test data format
  noxfile.py
  tests/resources/existing_metadata_file/compatibility/v1_0_0/person_data_v1__DOC.json
Due: check-json, check-ast, ruff, black

Fix workflow python versions
  .github/workflows/tests.yml
Due: check-yaml

Don't use platform-specific path for a URL
  src/datadoc/backend/storage_adapter.py
Due: check-ast, ruff, black

Fix Docker build
  .github/workflows/docker-build.yml
  Dockerfile
Due: check-yaml

Fix another path in Dockerfile
  Dockerfile
Due: none

More fix paths
  Dockerfile
  gunicorn.conf.py
Due: check-ast, ruff, black

Update documentation
  CONTRIBUTING.md
  README.md
  docs/reference.md
  src/datadoc/frontend/__init__.py
Due: check-ast, ruff, black

Remove .DS_Store files
  .gitignore
  src/datadoc/.DS_Store
  src/datadoc/frontend/.DS_Store
  tests/.DS_Store
  tests/resources/.DS_Store
  tests/resources/existing_metadata_file/.DS_Store
Due: none

Remove darglint
  .darglint
  noxfile.py
  poetry.lock
  pyproject.toml
Due: check-toml, check-ast, ruff, black

:arrow_up: Update dependencies
  poetry.lock
  pyproject.toml
Due: check-toml

Fix docs build
  docs/reference.md
  src/datadoc/backend/dataset_parser.py
  src/datadoc/frontend/callbacks/dataset.py
  src/datadoc/frontend/callbacks/variables.py
Due: check-ast, ruff, black

Fix uploading of coverage data
  .github/workflows/tests.yml
Due: check-yaml

Fix coverage path
  .github/workflows/tests.yml
Due: check-yaml

Fix docs build (#126)
  docs/reference.md
  src/datadoc/backend/dataset_parser.py
  src/datadoc/frontend/callbacks/dataset.py
  src/datadoc/frontend/callbacks/variables.py
Due: check-ast, ruff, black

Fix README badges
  README.md
Due: none

Fix docs build
  docs/conf.py
  docs/reference.md
Due: check-ast, ruff, black

Give additional fields multi-language support
  src/datadoc/frontend/fields/display_dataset.py
Due: check-ast, ruff, black

Fix README badges (#127)
  README.md
Due: none

More tests for dataset callbacks
  src/datadoc/frontend/callbacks/dataset.py
  src/datadoc/frontend/callbacks/utils.py
  src/datadoc/frontend/components/control_bars.py
  tests/callbacks/__init__.py
  tests/callbacks/test_callbacks_utils.py
  tests/callbacks/test_dataset_callbacks.py
  tests/callbacks/test_variables_callbacks.py
  tests/conftest.py
  tests/test_callbacks.py
  tests/test_utils.py
Due: check-ast, ruff, black

Give additional fields multi-language support (#128)
  src/datadoc/frontend/fields/display_dataset.py
Due: check-ast, ruff, black

More tests for dataset callbacks (#129)
  src/datadoc/frontend/callbacks/dataset.py
  src/datadoc/frontend/callbacks/utils.py
  src/datadoc/frontend/components/control_bars.py
  tests/callbacks/__init__.py
  tests/callbacks/test_callbacks_utils.py
  tests/callbacks/test_dataset_callbacks.py
  tests/callbacks/test_variables_callbacks.py
  tests/conftest.py
  tests/test_callbacks.py
  tests/test_utils.py
Due: check-ast, ruff, black

Release v0.4.1
  pyproject.toml
Due: check-toml

Release v0.4.1 (#130)
  pyproject.toml
Due: check-toml

Fix release trigger for Docker build workflow
  .github/workflows/docker-build.yml
Due: check-yaml

DPMETA-9: Move backend tests into backend folder. New __init__.py in backend folder. Setting up first test for save filepath value
  tests/backend/__init__.py
  tests/backend/test_datadoc_metadata.py
  tests/backend/test_dataset_parser.py
  tests/backend/test_model_backwards_compatibility.py
  tests/backend/test_storage_adapter.py
  tests/resources/person_data_v1__DOC.json
Due: check-json, check-ast, ruff, black

Added test
  src/datadoc/backend/datadoc_metadata.py
  tests/backend/test_datadoc_metadata.py
  tests/backend/test_model_backwards_compatibility.py
  tests/resources/person_data_v1__DOC.json
Due: check-json, check-ast, ruff, black

Organize imports
  tests/backend/test_datadoc_metadata.py
Due: check-ast, ruff, black

Exclude tooling files from mypy checks
  pyproject.toml
Due: check-toml

Update gitignore
  .gitignore
  tests/resources/person_data_v1__DOC.json
Due: check-json

Black format
  src/datadoc/backend/datadoc_metadata.py
Due: check-ast, ruff, black

Save `file_path` metadata field (#131)
  .gitignore
  pyproject.toml
  src/datadoc/backend/datadoc_metadata.py
  tests/backend/__init__.py
  tests/backend/test_datadoc_metadata.py
  tests/backend/test_dataset_parser.py
  tests/backend/test_model_backwards_compatibility.py
  tests/backend/test_storage_adapter.py
Due: check-toml, check-ast, ruff, black

Fix docs build
  .github/workflows/docs.yml
Due: check-yaml

Run fixture remove_document_file automatically on all tests to remove file linked in testcases
  tests/backend/test_datadoc_metadata.py
  tests/backend/test_model_backwards_compatibility.py
  tests/conftest.py
Due: check-ast, ruff, black

Replaced try/except in fixture with if statement
  tests/conftest.py
Due: check-ast, ruff, black

Set fixture remove_document_file on autouse (#132)
  tests/backend/test_datadoc_metadata.py
  tests/backend/test_model_backwards_compatibility.py
  tests/conftest.py
Due: check-ast, ruff, black

Bump version 0.4.1 -> 0.4.2
  pyproject.toml
Due: check-toml

Extract time period from dapla dataset path - set up class, method and test for extracting date from
  src/datadoc/backend/dapla_dataset_path_info.py
  tests/backend/test_dapla_dataset_path_info.py
Due: check-ast, ruff, black
